/***
TABLE OF CONTENTS

HEADER - App-header, h1

Styling the main header

***/

/* ************ HEADER ************ */

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  height: 125px;
  padding: 30px;
  color: #8e2f1a;
}

.App-header h1 {
  text-align: center;
  font-size: 50pt;
  text-decoration: underline;
}
