/***
TABLE OF CONTENTS

HEADER - h1, h2

Small adjustement for the monster information box

***/

/* ************ HEADER ************ */

.monster-info h1 {
  margin-top: 0;
}

.monster-info h2 {
  margin-bottom: 0;
}

/* ************ Spell Modal ************ */

.monster-spell__name {
  cursor: pointer;
  text-decoration: underline;
}

.monster-spell__close_button {
  background-color: #fff;
  border-radius: 25px;
  border-style: solid;
  position: absolute;
  right: 1px;
  top: 1px;
  cursor: pointer;
}

.monster-spell__close_button :hover {
  color: #F00
}