/***
TABLE OF CONTENTS

COMPONENT LIST - list
COMPONENT ITEM - item, logo, alternive

To style the spells components (vocal, somatic...)

***/

/* ************ COMPONENT LIST ************ */

.component-list {
  display: flex;
  padding-left: 30px;
}

@media (max-width: 768px) {
  .component-list {
    padding-left: 0px;
    padding-bottom: 10px;
  }
}

/* ************ COMPONENT ITEM ************ */

.component-item {
  /* Center logo inside */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Create circle border */
  border-style: solid;
  border-color: #0a0;
  border-radius: 38px;
  width: 38px;
  height: 38px;
}

.component-alternive,
.component-item:hover img {
  display: none;
}

/*Show alternative on hover*/
.component-item:hover .component-alternive {
  display: inline;
}

/*When component not used*/
.component-disabled {
  opacity: 0.05;
  border-color: #555;
}

/*Logo inside component*/
.component-logo {
  height: 28px;
  display: block;
  margin: auto;
}

/*Alternative to logo*/
.component-alternive {
  font-size: 2em;
  font-weight: bold;
}
