/***
TABLE OF CONTENTS

HEADER - title, components

Adjustement for spell information box

***/

/* ************ HEADER ************ */

/*To make the title and components on the same line*/
.spell-title {
  display: inline;
}

/*Make the little description under title in italic*/
.spell-type {
  font-style: italic;
  margin-bottom: 10px;
}
