/***
TABLE OF CONTENTS

CONTAINER - item
HEADER - title, components
QUICK INFO -
DESCRIPTION - 

***/

/* ************ CONTAINER ************ */

.spell-item {
    border-style: solid;
    border-color: #A00;
    margin: 1em;
    max-width: 50em;
}


/* ************ HEADER ************ */

.spell-title {
    display: inline;
}

.spell-components{
    float: right;
}


/* ************ QUICK INFO ************ */



/* ************ QUICK INFO ************ */




