/***
TABLE OF CONTENTS

HEADER - title, components

Adjustement for spell information box

***/


/* ************ HEADER ************ */

/*To make the title and components on the same line*/
.spell-title {
    display: inline;
}

.spell-components {
    float: right;
}

/*If small screen put components below*/
@media (max-width: 550px) {
    .spell-components {
        float: none;
    }
}

