/***
TABLE OF CONTENTS

MAIN - body

General style for the whole application

***/

/* ************ MAIN ************ */

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Helvetica", "Arial", "sans-serif";

  line-height: 1.5;
}
