/***
TABLE OF CONTENTS

Style to look like the box information in manual


***/

/* Recreate the style of the box in the monster manual */
.information-box {
  border-style: solid;
  border-color: #8e2f1a;
  border-width: 6px 3px;
  padding: 1em;
  margin: 1em;
  max-width: 45em;
  background-color: #fef5ce;
  box-shadow: 10px 10px 5px #888888;
}

/* Make header and bold text in dark red (like in the manual) */
.information-box h1,
.information-box h2,
.information-box b {
  color: #8e2f1a;
}

/* ************ CONTAINER ************ */

/* Make the hr bar like in the book*/
.information-box  hr {
  margin: 0;
  height: 3px;
  border: 0;
  background: #8e2f1a;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#8e2f1a), to(#fef5ce));
}
