.abilities{
    display: flex;
    flex-direction: horizontal;
    flex-wrap: wrap;
}

.ability{
    text-align: center;
    min-width: 50px;
    margin: 10px 15px 0;
}

.element-name{
    font-weight: bolder;
    margin-bottom: 0;
}

.element-description{
    margin-top: 0;
}